*{
  font-family: lato;
}
@font-face {
  font-family: lato;
  src: url(Lato-Regular.ttf);
}
@font-face {
  font-family: refia;
  src: url(Refia.otf);
}
#layout{
  background-image:
   linear-gradient(27deg, #f8f1ed 50%,  #523b2e 50%);
  height: 100vh;
  width: auto;
  display: grid;
  place-content: center;
  }
  #inlayout{
    height: 80vh;
    width: 80vw;
    display: grid;
    place-self: center;
    background-color: #fefbff;
    box-shadow: 0px 0px 25px rgba(0 0 0 0.5),
    inset 0px 0px 1px rgba(0 0 0 0.7);
    border-radius: 30px;
    overflow: auto;
    background-image: url('back.png');
    background-size: cover; 
    background-position: center;
  }
  #header{
    display: grid;
   grid-auto-flow: column;
   grid-template-columns: repeat(17, 1fr);
   grid-auto-rows: 1fr;
   height: 80px;
  }
  .l{
    margin-left: 10px;
  }
  #header nav{
    display: grid;
    place-content: center;
    grid-area: 1/2/2/17;
  }
  #header nav ul{
   display: grid;
    grid-auto-flow: column;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    padding-inline-start: 0px;
    margin: 16px auto;
   grid-column-gap: 20px;
  }
  #header nav ul li{
    text-decoration: none;
    display: inline-block;
    
  }
  #header nav ul a {
    text-decoration: none;
    color:rgb(28, 26, 26);
    padding: 5px 10px;
    transition: all 0.3s ease;
  }
  #header nav ul a:hover{
    cursor: pointer;
    background-color: #715240;
    border-radius: 6px;
    color: #f8f1ed;  }
  #header nav ul a:active{
    cursor: pointer;
    border-bottom: 3px solid #795235;
  }
  #header2{
    display: none;
  }
  .bottom{
    place-self: center;
    font-weight: 900;
    font-size: 2em;
    margin-top: 40px;
    color: #795235;
    display: grid;
    text-align: center;
  }
  #refs{
    margin-left: 80px;
    margin-top: 60px;
  }
  .re{
    font-size: 2.7em;
    font-weight: 700;
  }
  #refs span{
    font-size:1.2em;
  }
  @media screen and (max-width: 620px){
    #inlayout{
      height: 80vh;
      width: 80vw;
      display: grid;
      place-self: center;
      background-color: #fefbff;
      box-shadow: 0px 0px 25px rgba(0 0 0 0.5),
      inset 0px 0px 1px rgba(0 0 0 0.7);
      border-radius: 30px;
      overflow: auto;
      background-image: url('back.png');
      background-size: cover; 
      background-position: center;
    }
     #header{
     display: none; 
    }
    #header2{
      display: grid;
    }
    .menu{
      display: grid;
      margin-right: 20px;
      grid-auto-flow: column;
    }
    .me{
      display: grid;
      justify-self: end;
    align-self: center;
    position: relative;
    right: 27px;
    }
    .lo{
      display: grid;
      justify-content: start;
      position: relative;
      left: 20px;
    }
   nav.nav{
      display: none;
      place-content: end;
      transition: 0.3s all ease;
      margin-top: -22px;
    }
    nav.nav.active{
      display: grid; 
    }
    #header2 nav ul{
      padding-inline-start: 0px;
      display: block;
      background-color:#795235 ;
      place-content: center;
      border-radius: 20px;
    }
    #header2 nav ul a li{
      display: grid;
      list-style: none;
      color: #f8f1ed;
      justify-self: center;
    }
    #header2 nav ul a{
      display: grid;
      justify-self: center;
      width: 150px;
      height: 50px;  
    text-decoration: none;
    align-items: center;
    transition: all 0.3s ease;
    } 
    #header2 nav ul a:hover{
      background-color: #39281e;
      cursor: pointer;
    }
    #header2 nav ul:before{
      content: "";
      position: absolute;
      transform: translateX(-50%);
      border:10px solid;
      border-color: transparent transparent #795235 transparent;
      z-index: 1;
      top: 124px;
      left: 77%;
    }
    #header2 nav ul a:nth-child(1):hover{
      border-top-left-radius:20px ;
      border-top-right-radius:20px;
    }
    #header2 nav ul a:nth-child(5):hover{
      border-bottom-left-radius:20px;
      border-bottom-right-radius:20px;
    }
    .bottom{
      place-self: center;
      font-weight: 900;
      font-size: 1.4em;
      margin-top: 34px;
      color: #795235;
      text-align: center;
    }
    #refs{
      margin-left: 80px;
      display: grid;
      margin-top: 60px;
    }
    .re{
      font-size: 2.7em;
      font-weight: 700;
    }
    #refs span{
      font-size:1.2em;
    }
  }