*{
  font-family: lato
}
@font-face {
  font-family: lato;
  src: url(Lato-Regular.ttf);
}
@font-face {
  font-family: refia;
  src: url(Refia.otf);
}
#layout{
  background-image:
   linear-gradient(27deg, #f8f1ed 50%,  #523b2e 50%);
  height: 100vh;
  width: auto;
  display: grid;
  }
  #inlayout{
    height: 80vh;
    width: 80vw;
    display: grid;
    place-self: center;
    background-color: #fefbff;
    box-shadow: 0px 0px 25px rgba(0 0 0 0.5),
    inset 0px 0px 1px rgba(0 0 0 0.7);
    border-radius: 30px;
    transition: all 0.3s ease;
  }
  #header{
    display: grid;
   grid-auto-flow: column;
   grid-template-columns: repeat(17, 1fr);
   grid-auto-rows: 1fr;
   height: 80px;   
  }
  .l{
    margin-left: 10px;
  }
  #header nav{
    display: grid;
    place-content: center;
    justify-content: stretch;
    grid-area: 1/1/2/-1;
  }
  #header nav ul{
    display: grid;
   grid-auto-flow: column;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    margin: 16px auto;
   grid-column-gap: 20px;
  }
  #header nav ul li{
    text-decoration: none;
    display: inline-block;
    
  }
  #header nav ul a {
    text-decoration: none;
    color:rgb(28, 26, 26);
    padding: 5px 10px;
    transition: all 0.3s ease;
    transition-delay: 0.2s;
  }
  #header nav ul a:hover{
    cursor: pointer;
    background-color: #715240;
    border-radius: 6px;
    color: #f8f1ed;
  }
  #header nav ul a:active{
    cursor: pointer;
    border-bottom: 3px solid #795235;
  }
  #header2{
    display: none;
  }
  #message{
    display: grid;
    grid-template-columns: repeat(4fr 2fr);
    grid-template-rows: 1fr;
    margin-top: -20px;
    margin-bottom: 50px ;
  }
  .me{
    display: grid;
    grid-area: 1/1/2/2;
    font-size: 1.6em;
    place-self: center;
    margin-left: 10px;
    text-align: center;
    align-self: center;
  }
  .mypic{
    display: grid;
    grid-area: 1/2/2/3;
  }
  #socials{
    display: flex;
    flex-direction: row;
    place-content: center;
    justify-content: space-evenly;
  }
  .simg{
    height: 50px;
  }
  .simg:hover{
    animation-name: scale;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }
  @keyframes scale {
    0% {transform: scale(1.0);}
    25% {transform: scale(1.1);}
    50% {transform: scale(1.0);}
    75% {transform: scale(1.1);}
    100% {transform: scale(1.0);}
  }
  .bottom{
    text-align: center;
    font-weight: 100;
  }
@media screen and (max-width: 620px){
  #inlayout{
    background-color: #fefbff;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 80px 300.47px 83.47px;
    overflow: auto;
  }
   #header{
   display: none; 
  }
  #header2{
    display: grid;
  }
  .menu{
    display: grid;
    margin-right: 20px;
  }
  .me{
    display: grid;
    justify-self: end;
    position: relative;
    top: -20px;
  }
  .lo{
    display: grid;
    justify-content: start;
    position: relative;
    left: 20px;
  }
 nav.nav{
    display: none;
    place-content: end;
    transition: 0.3s all ease;
    margin-top: -22px;
  }
  nav.nav.active{
    display: grid; 
  }
  #header2 nav ul{
    padding-inline-start: 0px;
    display: block;
    background-color:#795235 ;
    place-content: center;
    border-radius: 20px;
  }
  #header2 nav ul a li{
    display: grid;
    list-style: none;
    color: #f8f1ed;
    justify-self: center;
  }
  #header2 nav ul a{
    display: grid;
    justify-self: center;
    width: 150px;
    height: 50px;  
  text-decoration: none;
  align-items: center;
  transition: all 0.3s ease;
  } 
  #header2 nav ul a:hover{
    background-color: #39281e;
    cursor: pointer;
  }
  #header2 nav ul:before{
    content: "";
    position: absolute;
    transform: translateX(-50%);
    border:10px solid;
    border-color: transparent transparent #795235 transparent;
    z-index: 1;
    top: 87px;
    left: 82.5%;
  }
  #header2 nav ul a:nth-child(1):hover{
    border-top-left-radius:20px ;
    border-top-right-radius:20px;
  }
  #header2 nav ul a:nth-child(5):hover{
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
  }
  #message{
    display: grid;
    grid-area: 2/1/3/2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 5px;
    margin-bottom: -25px;
    display: grid;
  }
  .mypic{
    display: grid;
    grid-area: 1/1/2/3;
    border-radius: 50%;
    justify-self: center;
    align-self: end;
  }
  .me{
    text-align: center;
    display: grid;
    grid-area: 2/1/3/3;
    font-size: 1.6em;
    margin-top: -40px;
  }
  #social{
    display: grid;
    grid-area: 3/1/4/2;
  }  
  .simg{
    display: grid;
    height: 45px;
    width: 45px;
  }
}


